<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @member.url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @member.short_url %>
</p>

<p>
  <strong>Headers:</strong><br>
  <% @member.headers.each do |e| %>
    <%= e %><br>
  <% end %>
</p>

<p>
  <strong>Friends:</strong><br>
  <% @member.friends.each do |e| %>
    <%= link_to e.name, member_path(e) %><br>
  <% end %>
  
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
